body {
  background-image: url("https://images.unsplash.com/photo-1483347756197-71ef80e95f73?dpr=1&auto=compress,format&fit=crop&w=1500&h=&q=80&cs=tinysrgb&crop=");
	font-family: 'Ubuntu', sans-serif;
}
.ccprices{
	color: white;
}
.center-block{
    margin-top: 220px;
    text-align: center;
}
.searchboxes{
    width: 100%;
    opacity: 0.6;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    margin: 0;
    font-family: 'Ubuntu' sans-serif;
}
.searchboxes:hover{
    opacity: 1;
    font-weight: bold;
}
.clickboxes{
    opacity: 0.6;
    font-weight: bold;
    background-color: white;
    border-radius: 25px;
    margin-top: 480px;
    margin: 0;
    width: 103.92px;
    text-align: left;
    font-family: 'Ubuntu' sans-serif;
}
.clickboxes-div{
    text-align: left;
}
.clickboxes:hover{
    opacity: 1;
    font-weight: bold;
}

.vidbg {
  text-align: center;
  margin: 0 auto;
}

.col-md-6{
  text-align: center;
}
